<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yw.obd">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".app.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="XUKVu26qvXrGSAwRaG7gGafW0BwRDWoC" />

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--主页-->
        <activity android:name=".activity.MainActivity">
            <span style="background-color: rgb(255, 0, 0);">
                android:theme="@style/applicationTheme"
            </span>

        </activity>

        <!--登录-->
        <activity android:name=".activity.LoginActivity">

        </activity>

        <!--注册-->
        <activity android:name=".activity.RegisterActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <!--轨迹-->
        <activity android:name=".activity.LocusActivity">


        </activity>

        <!--轨迹记录-->
        <activity android:name=".activity.TrackRecordActivity">

        </activity>

        <activity android:name=".activity.PersonalActivity" />

        <activity android:name=".activity.MyCarActivity" />

        <activity android:name=".activity.AddCarActivity" />

        <activity android:name=".activity.RegisterSuccActivity" />

        <activity android:name=".activity.OilActivity" />
        <activity android:name=".activity.CarCheckActivity" />

        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.ForgetPwdActivity" />

        <activity android:name=".activity.AlterPwdActivity" />
        <activity android:name=".activity.OilDetailActivity" />

        <service android:name=".service.PushService" />

        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.FeedbackActivity" />

        <activity android:name=".activity.ElectricFenceActivity">

        </activity>
        <activity android:name=".activity.AddFenceActivity">

        </activity>

        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.MsgSettingActivity" />
        <activity android:name=".activity.WifiSetActivity" />

        <activity android:name=".activity.WifiEditActivity"/>
    </application>

</manifest>